.section-1 img{
    border-radius: 20px;
}
.section-2{
    width: 100%;
    margin: auto;
    max-width: 755px;
    margin-bottom: 100px;
}
.section2top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55%;
}
.section2top img{
    width: 32px;
    height: 32px;
}
.section-2 p{
    font-size: 16px;
}
.section-2 h2 {
    font-size: 64px;
    color: #1d3444;
    margin: 0;
}
.section-2 h3{
    font-size: 48px;
    color: #0d1317;
}