header {
    width: 100%;
    margin: auto;
    margin-top: 10px;
    max-width: 1280px;
    height: 52px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-content: center;
}
h1{
    color: #063255;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.headerRight{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
header nav ul{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    width: 130%;
    display: flex;
    justify-content: space-around;
}
header a{
    color: #394149;
}
.buttonCall {
    color: #F58A07;
    background-color: rgba(245, 138, 7, 0.1);
    width: 173px;
    height: 52px;
    border-radius: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    list-style: none;
}