
body{
    font-family: 'Poppins', sans-serif;
}
p{
    font-family: 'Poppins', sans-serif;;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    color: #5B5B5B;
}
.container{
    width: 100%;
    margin: auto;
    max-width: 1280px;
}
section {
    margin-top: 100px;
}
/* ********** Header ********** */

/* ********** section 1 ********** */
#section1 {
    background-color: #DCEAF5;
    margin-top: 10px;
    height: 645px;
    display: flex;
    justify-content: space-between;
}
#firstsection {
    display: flex;
    justify-content: center;
    align-items: center;
}
.section1left {
    width: 50%;
}
.section1left h2 {
    font-size: 64px;
    font-family: "poppins";
    font-weight: 600;
    font-style: normal;
    color: #1D3444;
    line-height: 72px;
}
.section1left p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #5B5B5B;
    line-height: 30px;
}
.section1right {
    width: 50%;
}
.see {
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.see a {
    text-decoration: none;
    color: #1D3444;
}
#see {
    color: white;
    background-color:#F58A07;
    width: 199px;
    height: 54px;
    border-radius: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#section1p {
    color: rgba(57, 65, 73, 0.5);
}
.logos{
    width: 85%;
    display: flex;
    justify-content: space-between;
}
/* ********** section 2 ********** */
#secondsection{
    margin-bottom: 70px;
}
#secondsection h2, p{
    width: 60%;
}
#secondsection h2{
    color: #1D3444;
    font-size: 48px;
}
#secondsection p {
    color: #5B5B5B;
}
#post{
    display: flex;
    justify-content: space-between;
}
#post img {
    border-radius: 20px;
}
#post h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}
#post p{
    width: 100%;
    font-size: 16px;
}
.learnmore{
    text-decoration: none;
    color: #F58A07;
}
.learnmore::after{
    content: "\2192";
}
#post div{
    width: 32%;
}
/* ********** section 3 ********** */
#section3{
    background-color: #DCEAF5;
    padding-top: 100px;
    padding-bottom: 100px;
}
#head{
     display: flex;
     justify-content: space-between;
    }
#head h2{
    width: 49%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    margin-top: 0;
}
#head p{
    width: 49%;
    color: #1D3444;
    margin-top: 11px;
}
#bottom{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
#bottom div{
    box-sizing: border-box;
    background-color: white;
    width: 30%;
    height: 277px;
    border-radius: 20px;
    padding: 30px;
}
#bottom h3 {
    color: #1D3444;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
}
#bottom p{
    width: 100%;
    font-size: 16px;
}
/* ********** section 4 ********** */
#section4 {
    display: flex;
    justify-content: space-between;
    align-content: space-around;
}
#section4left{
    height: 650px;
}
#section4 h2{
    color: #0D1317;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
}
#section4 p {
    width: 95%;
}
#awards{
    display: flex;
    justify-content: space-between;
}
#awards h3 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: #F58A07;
}
#awards h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
}
#awards p {
    width: 95%;
    font-size: 16px;
}
#section4 img{
    border-radius: 20px;
    position: relative;  
}


/* ********** section 5 ********** */
#section5 {
    background-color: #DCEAF5;
    width: 100%;
    height: 750px;
    padding: 50px;
    border-radius: 20px;
}
#lefttop{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.business {
    color: #F58A07;
    background-color: white;
    width: 180px;
    height: 45px;
    border-radius: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.first{
    color: rgba(6, 50, 85, 0.3);
    background-color: #DCEAF5;
    width: 180px;
    height: 45px;
    border-radius: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: rgba(6, 50, 85, 0.3) solid;
}
#section5body {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#section5left{
    width: 45%;
}
#section5left h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    color: #0D1317;
}
#section5left p{
    width: 100%;
}


/* ********** section 6 ********** */
#section6 {
    display: flex;
    width: 100%;
    height: 520px;
}
#section6left{
    background-image: url(/images/experience-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 520px;
    width: 50%;
}
#section6right{
    background-color: #F58A07;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 50px;
}
#section6right h2 {
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    width: 80%;
}
#section6right a{
    text-decoration: none;
}

/* ********** section 7 ********** */

.section7{
    display: flex;
}
#section7left {
    width: 49%;
}
#section7left h2{
    font-size: 48px;
    color: #0D1317;
}
#section7left p{
    width: 90%;
}
#section7bottom{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#section7bottom h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #063255;
    margin: 0;
}
#section7bottom h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #F58A07;
    margin: 0%;
}
#section7right {
    display: flex;
    position: relative;
}
#video{
    display: flex;
    align-items: center;
    width: 170px;
    justify-content: space-between;
    position: absolute;
    bottom: 30px;
    left: 30px;
}
#buttonPlay {
    background-color: rgb(255, 255, 255);
    height: 51px;
    width: 51px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#section7right p {
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}

/* ********** section 8 ********** */
#section8 {
    background-color: #DCEAF5;
    height: 819px;
    display: flex;
    align-items: center;
}
#section8bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#section8bottom img{
    border-radius: 20px 20px 0px 0px;
}
#section8bottom h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    width: 95%;
    margin: 0;
}
.section8bottom{
    border-radius: 20px;
    background-color: white;
    padding: 0px;
    width: 399px;
    height: 550px;
}
.section8text{
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
