
body{
    font-family: 'Poppins', sans-serif;
}
p{
    font-size: 18px;
}
.container{
    width: 100%;
    margin: auto;
    max-width: 1280px;
}
header {
    width: 100%;
    margin: auto;
    max-width: 1280px;
    height: 52px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-content: center;
}
.headerright{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
header nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
header a{
    color: #394149;
    text-decoration: none;
}
#button {
    color: #F58A07;
    background-color: rgba(245, 138, 7, 0.1);
    width: 173px;
    height: 52px;
    border-radius: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#section1 {
    background-color: #DCEAF5;
    height: 703px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
#firstsection {
    display: flex;
    justify-content: center;
    align-items: center;
}
.section1left {
    width: 50%;
    height: 439px;
}
.section1left h2 {
    font-size: 64px;
    font-family: "poppins";
    font-weight: 600;
    font-style: normal;
    color: #1D3444;
    line-height: 72px;
}
.section1left p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #5B5B5B;
    line-height: 30px;
}
.section1right {
    width: 50%;
    height: 645px;
}
.see {
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.see a {
    text-decoration: none;
    color: #1D3444;
}
#see {
    color: white;
    background-color:#F58A07;
    width: 199px;
    height: 54px;
    border-radius: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#section1p {
    color: rgba(57, 65, 73, 0.5);
}
.logos{
    width: 85%;
    display: flex;
    justify-content: space-between;
}

#secondsection h2, p{
    width: 60%;
}
#secondsection h2{
    color: #1D3444;
    font-size: 48px;
}
#secondsection p {
    color: #5B5B5B;
}